---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-light-400 relative flex">
		<main class="text-purple-600 p-6 flex flex-col justify-between">
			<h1 class="font-heading font-bold text-7xl md:text-9xl">Maxi uhlig</h1>
			<p class="text-2xl w-auto md:w-3/5">A UX UI Designer from <span class="font-heading">Berlin</span> looking to help make the world a little bit more usable.</p>
		</main>
	</body>
</html>
